{% load i18n %}

<div class="boxC">
    <h3>{% trans "Recent awards" %}</h3>
    <div class="body">
         <ul class="badge-list">
         {% for award in awards %}
            <li>
            <a href="{% url badges %}{{award.badge_id}}/{{award.badge_name}}" title="{{ award.badge_description }}" class="medal">
            <span class="badge{{ award.badge_type }}">&#9679;</span>&nbsp;{{ award.badge_name }}</a>
            <a href="/users/{{ award.user_id }}/{{ award.user_name|slugify }}/">{{ award.user_name }}</a>
            </li>
        {% endfor %}
        </ul>
        <div class="more"><a href="{% url badges %}">{% trans "all awards" %} </a> </div>
     </div>
</div>