{% extends "questions.html" %}
<!-- index.html -->
{% load general_sidebar_tags %}
{% load question_list_tags %}
{% load i18n %}
{% block sidebar %}
    {% if not request.user.is_authenticated %}
    <div class="boxA">
        <h3>{% trans "welcome to " %}{{ settings.APP_SHORT_NAME }}</h3>
        <div class="body">
          {{ settings.APP_INTRO|safe }}
          <div class="more"><a href="{% url about %}">{% trans "about" %} </a></div>
          <div class="more"><a href="{% url faq %}">{% trans "faq" %} </a></div>
        </div>
    </div>
    {% endif %}
    {% question_list_count %}
    {% if request.user.is_authenticated %}
        {% tag_selector %}
    {% endif %}
    {% recent_tags %}
    {% recent_awards %}
{% endblock %}
<!-- index.html -->

