{% extends "base_content.html" %}
<!-- user.html -->
{% load extra_tags %}
{% load extra_filters %}
{% load humanize %}
{% block title %}{% spaceless %}{{ page_title }}{% endspaceless %}{% endblock %}
{% block forestyle%}
    <style type="text/css">
 		.history-table td { padding: 5px; }
 		.user-stats-table { margin-left:50px; }
	</style>
{% endblock %}
{% block forejs %}
    {% if request.user.is_superuser %}
        <script type='text/javascript' src='{% media  "/media/js/jquery.form.js" %}'></script>
    {% endif %}
    <script type="text/javascript">
        var viewUserID = {{view_user.id}};
        $().ready(function(){
            {% ifequal view_user request.user%}
                $("#nav_profile").attr('className',"on");
            {% else %}
                $("#nav_users").attr('className',"on");
            {% endifequal %}
        });

        $(document).ready( function(){
            var options = {
                           success: function(a,b){$('.admin #action_status').html($.i18n._('changes saved'));},
                           dataType:'json',
                           timeout:5000,
                           url: scriptUrl + $.i18n._('moderate-user/') + viewUserID +  '/'
                            };
            var form = $('.admin #moderate_user_form').ajaxForm(options);
            var box = $('.admin input#id_is_approved').click(function(){
                $('.admin #action_status').html($.i18n._('sending data...'));
                form.ajaxSubmit(options);
            });
        });
    </script>
    {% block userjs %}
    {% endblock %}
{% endblock %}
{% block content %}
    <div id="mainbar-full">
        {% include "users/info.html" %}
        {% include "users/tabs.html" %}
        {% block usercontent %}
        {% endblock %}
        {%comment%}{% include "users/footer.html" %}{%endcomment%}
	</div>
{% endblock %}<!-- end user.html -->
