{% extends "email_base.html" %}
{% load i18n %}
{% load extra_tags %}

{% block content %}
    <p>{% trans "Hello" %} {% user_var username %},</p>

    <p>
        {% blocktrans with comment.user.username as author_name %}
            {{ author_name }} has just posted a comment on
        {% endblocktrans %}

        {% if post.question %}
            {% blocktrans with settings.APP_URL as app_url and post.author.username as poster_name and post.author.get_profile_url as poster_url%}
                the answer posted by <a href="{{ app_url }}{{ poster_url }}">{{ poster_name }}</a> to
            {% endblocktrans %}
        {% endif %}

        {% blocktrans with question.title as question_title and settings.APP_URL as app_url and question.get_absolute_url as question_url %}
             the question  <a href="{{ app_url }}{{ question_url }}">{{ question_title }}</a>
        {% endblocktrans %}
    </p>

    <blockquote>
        {{ comment.comment }}
    </blockquote>

    {% blocktrans %}
        Don't forget to come over and cast your vote.
    {% endblocktrans %}

    <p>{% blocktrans %}Sincerely,<br />
    Forum Administrator{% endblocktrans %}</p>
{% endblock %}
