{% extends "email_base.html" %}
{% load i18n %}
{% load extra_tags %}

{% block content %}
    <p>{% trans "Hello" %} {% user_var username %},</p>

    <p>
        {% blocktrans with newmember.username as newmember_name and settings.APP_SHORT_NAME as app_title and settings.APP_URL as app_url and newmember.get_profile_url as newmember_url %}
        {{ newmember_name }} has just joined {{ app_title }}. You can visit {{ newmember_name }}'s profile using the following link: <br />
        <a href="{{ app_url }}{{ newmember_url }}">{{ newmember_name }} profile</a>
        {% endblocktrans %}
    </p>

    <p>{% blocktrans %}Sincerely,<br />
    Forum Administrator{% endblocktrans %}</p>
{% endblock %}
